@mixin tarjeta($display, $direction, $width, $justify, $alignItem){
    display: $display;
    flex-direction: $direction;
    width: $width;
   justify-content: $justify;
    align-items: $alignItem;
    
}
