@font-face {
    font-family: 'fuentecoder';
    src: url(../assets/font/aesthetic_romance.zip);
  }
.footer {
    font-family: 'fuentecoder';
    text-align: center;
    background-color: rgba(243, 178, 0, 0.664);
    
}