main {

    /* ESTILO DEL CONTENEDOR PRINCIPAL*/
    .principalContainer {
        background-image: url('../assets/images/fruta.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container {
            height: 70%;
            width: 70%;
            background-color: $primary-color;
            border-radius: 193px 75px 193px 134px;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                color: black;
                font-size: 1.2rem;
                font-weight: 400;
                padding: 80px;
            }

            @media (max-width: 768px) {
                p {
                    font-size: 1rem;
                }
            }

            button {
                background-color: #C3EF47;
                border-radius: 50px;
                height: 74px;
                width: 80%;
                border: 0;
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.85);

                a {
                    color: #ffffff;
                    font-weight: 400;
                    font-size: 25px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
                    text-decoration: none;
                }
            }

        }
    }


    /* ESTILO DE LOS SERVICIOS*/
    .serviceSection {
        background-color: rgb(187, 143, 121);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h2 {
            text-align: center;
            font-size: 1.2rem;
        }

        .cardsGrid {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-evenly;
            align-items: center;
            justify-items: center;

            .tarjeta {
                width: 9.375rem;
                border: 1px solid rgb(0, 0, 0);
                box-shadow: 2px 2px 8px 4px #d3d3d3d1;
                border-radius: 15px;
                font-family: sans-serif;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                background-color: rgba(255, 255, 255, 0.781);
                height: 16.375rem;

                .titulo {
                    font-size: 24px;
                    padding: 10px 10px 0 10px;
                }

                .cuerpo {
                    padding: 10px;
                    background-color: #b99b13;
                    width: 9.375rem;

                }

                .cuerpo img {
                    width: 100%;
                }

                .pie {
                    background: #ddba20;
                    border-radius: 0 0 15px 15px;
                    padding: 10px;
                    text-align: center;
                }

            }

        }
        
        // Media query para pantallas pequeñas
        @media (max-width: 378px) {
            .cardsGrid {
                grid-template-columns: 1fr;
                .tarjeta {
                    width: 80%;
                    margin-top: 10px;
                    .titulo{
                        font-size: 1rem;
                    }
                }
            }
        }
    }


}




.contactSection {
    background-color: greenyellow;
    width: 100%;
    text-align: left;
    height: 35%;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form input {
            width: 60%;
            height: 25px;
            border-radius: 2px 12px;
            border: 0;
            padding-left: 9px;
            box-shadow: 3px 3px rgba(136, 136, 136, 0.363);
            margin: 10px;
        }

        .form textarea {
            width: 60%;
            border-radius: 2px 12px;
            border: 0;
            padding-left: 9px;
            box-shadow: 3px 3px rgba(136, 136, 136, 0.363);
            margin: 10px;
        }

        .btnSubmit {
            background-color: #ddba20;
            color: white;
            font-size: 16px;
            transform: scale(1);
            transition: 0.5s;
        }

        .btnSubmit:hover {
            background-color: #b99b13;
            cursor: pointer;
            transform: scale(1.1);
            transition: 0.5s;
        }
    }

}

@mixin tarjeta($flex, $column) {
    display: $flex;
    flex-direction: $column;
}

//** CONSULTA WEB **//

.webSection{
    background-color: #b99b13;
    background-image:url(../assets/images/planNutricional.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .pWeb{
        display: flex;
        text-align: end;
        font-size: 1.25rem;
        border-radius: 5rem;
        justify-content: center;
    }
    div{
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        .boton{
            background-color: #C3EF47;
                border-radius: 50px 50px 50px 50px;
                height: 5.25rem;
                width: 8.75rem;
                border: 0;
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.85);
        }
}
}
@media(max-width:320px){
    .pWeb{
        font-size: 4.75rem;
        text-align: center;
        padding: 1.875rem;
        
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




//**PLAN NUTRICIONAL**//
.mainPlan{
    background-image:url(../assets/images/planNutricional.jpg);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    

    .container{
        display: flex;
        justify-content: center;
        background-color: rgb(228, 214, 17);
        border-radius: 193px 75px 193px 134px;
        flex-direction: column;
        p{
            padding: 3.25rem;
        
        }

    }
    div{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        button{
            background-color: #C3EF47;
                border-radius: 50px;
                height: 6.25rem;
                width: 80%;
                border: 0;
                box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.85);

        }
    }
    
}
//** SEGUIMIENTO SEMANAL**//

.seguimientoMain{
            justify-content: space-between;
            background-image: url(../assets/images/necesitasnutricionista-t.jpg.webp);
            
            section{
        display: flex;
        justify-content: space-evenly;

        div{
            display: flex;
            flex-direction: column;
            background-color: rgb(216, 159, 35);
            border-radius: 30px 30px 30px 30px;
            width: 50%;

            h3{
                text-align: center;
            }
            p{
                text-align: center;
            }
            button{
                background-color: rgba(43, 255, 0, 0.267);
                border-radius: 100px 100px 100px 100px;
            }
        }
    }
    }
@media(max-width:420px){
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div{
        
    }


}







//**TIENDA**//

.mainTienda{
    section{
        border-radius: 150px 75px 150px 75px;
        background-color: greenyellow;
        p{
            text-align: center;
            justify-content: center;
            align-items: center;
        }

    }
    .gridsTienda{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #C3EF47;
        justify-content: space-between;
        align-items: center;
        justify-items: center;

        .tarjetaTienda{
            .cuerpo{
                background-color: #caa500d0;
                width: 10rem;
                align-items: center;
                justify-content: center;
                img{
                    width: 10rem;
                    height: 10rem;
                }
            }
            .pie{
                text-align: center;
                background-color: rgb(255, 255, 255);
                border-radius: 100px 100px 100px 100px;
                
                a{
                    text-decoration: none;
                }
            }
        }
    }
        @media (max-width:320px){
            .gridsTienda{
            display: grid;
            grid-template-columns: 1fr;
            }
    }
}